body { 
	font-family: 'Monda';
	margin: 0;
	width: 100%;
	height: auto;
}

iframe {
	width: 100%;
}

.page-footer{
	overflow:hidden;
	width: 100%;
}

.bordure {
	margin: auto;
}

nav, .side-nav{
	font-family:'Orbitron';
}

#programme, .card-title{
	color: #ff6e40;
}

#programme{
	background-image:url("william5893.jpg")
}

h3{	
	font-family:'Orbitron';
	color: #0d47a1;
	font-size: 2em;
}

h4{
	font-family:'Orbitron';
	color :#ff6e40;	
	font-size: 2em;
}

#carre {
    height: 300px;
    width: 300px;
   	border:1px dotted black;
   	margin: auto;
   	margin-top: 10px;
}

#ern {
	margin-bottom: 5%;
	margin-left: }

#ademe {
	margin-right: 5%;
}

#enedis {
	margin-right: 5%;
}

#solidarite {
	margin-right: 5%;
}

#cress {
	margin-right: 5%;
}

p {
	
	line-height:30px;
} 

.listes {
	/*argin-left: 50px;*/
	line-height:30px;
	margin-left: 40px;
}

.amp{
	width: 50%;
	margin-left: 30%;
}

.fa{
	color: #ff6e40;

}

footer{
	background-color: #000;
	overflow: hidden;
	width: 100%;
}


.list-footer li a{
	color: #ff6e40;
	
	
}

.list-footer li{
	display:inline;
	float: right;
	margin-top:  -20px;
	margin-right: 2em;
		
}

.text{
	margin-top: 17%;
}

.ordi{
	width: 100%;
	margin-top: 20%;
}

.historique{
	text-align: center;
}

.ag2i{
	margin-left: 30%;
	margin-top: 20%;
}

hr {
	height: 1px;
	color: #00796b;
	background-color: #00796b;
	width: 25%;
	border: none;
}


#menu li a{
	color: #00796b;
}


#section{
	margin-top: 3em;
}

.ag2i{
	margin-top: 30px;
}

.parallax-container {
      height: 600px;
    }



