
body { 
	padding-top: 0px;

	border-radius: 50px;

	font-family: cursive;
	

	 }

footer img{
	
	position: relative; ;
	float: right;
	bottom: 2.25em;
	margin: 0.5em;
	size: 4em;
	width: 2.5em;
	right: 1em;

}

.page-footer{
	height: 50px;
	overflow: hidden;
}

.bordure {
	margin: auto;

}

.paragraphe{
	border-radius: 4em 4em 4em 4em;
	text-align: center;

}
