
body { 
	padding-top: 0px;
	border-radius: 50px;
	font-family: 'Monda'; 
	
}

footer img{
	
	position: relative; ;
	float: right;
	bottom: 2.25em;
	margin: 0.5em;
	size: 4em;
	width: 2.5em;
	right: 1em;

}

.page-footer{
	height: 50px;
	overflow: hidden;
}

.bordure {
	margin: auto;
}

.paragraphe{
	border-radius: 4em 4em 4em 4em;
	/*text-align: center; */


}

nav{
	font-family:'Orbitron';
}





/* .localisation{
	top: 40px;

} */

#programme, .card-title{
	color: #ff6e40;
}


#programme{
	background-image:url("william5893.jpg")
}

h3{	
	font-family:'Orbitron';
	color: #0d47a1;
}

h4{
	font-family: 'Orbitron';
	color :#ff6e40;
}


#carre {
    height: 300px;
    width: 300px;
   	border:1px dotted black;
   	margin: auto;
   	margin-top: 10px;
}

#ern {
	margin-bottom: 5%;
	margin-left: 10%;
}

#ademe {
	margin-right: 5%;
}

#enedis {
	margin-right: 5%;
}

#solidarite {
	margin-right: 5%;
}

#cress {
	margin-right: 5%;
}

p {
	margin-left: 50px;
	line-height:30px;
}




.listes {
	margin-left: 50px;
	line-height:30px;

}


